/.idea
.DS_Store

# Image File
!image/no_image.png
!image/placeholder.png
!image/placeholder-*.png

# Image Cache Files
image/cache/*
image/catalog/*
!image/cache/index.html
!image/catalog/index.html

# System Cache Files
system/storage/cache/*
!system/storage/cache/index.html

# Modification Files
system/storage/modification/*
!system/storage/modification/index.html

# Download Files
system/storage/download/*
!system/storage/download/index.html

# Upload Files
system/storage/upload/*
!system/storage/upload/index.html

# Log Files
system/storage/logs/*
!system/storage/logs/index.html

# VQmod Files
vqmod/checked.cache
vqmod/mods.cache
vqmod/vqcache/*
!vqmod/vqcache/index.html
vqmod/logs/*
!vqmod/logs/index.html
